body {
    background: #1E90FF;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;    
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.350);
    text-align: center;
}

footer {
    font-size: 10pt;
    color: white;
    text-align: center;
    font-style: italic;
}